@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
  --backgroundcolor1: #ffffff;
  --backgroundcolor2: #634c9f;
  --fontcolor1: #030712;
  --fontcolor2: #6b7280;
  --footer: #f3f4f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter';
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
