@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
  --backgroundcolor1: #ffffff;
  --backgroundcolor2: #634c9f;
  --btn:#ffffff;
  --fontcolor1: #030712;
  --fontcolor2: #6b7280;
  --fontcolor3: #6b7280;
  --fontcolor4: #030712;
  --footer: #f3f4f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--backgroundcolor1);
  font-family: 'Inter';
}
a {
  text-decoration: none;
  color: var(--fontcolor1);
}
ul {
  list-style: none;
}
select {
  border: none;
}
.dark_mode {
  --backgroundcolor1: #070b1d;
  --backgroundcolor2: #634c9f;
  --btn:white;
  --fontcolor1: white;
  --fontcolor2: #ffffff;
  --fontcolor3: #6b7280;
  --fontcolor4: #030712;
}
.dark_mode a {
  color: var(--fontcolor1);
}

#theme_switch img {
  display: flex;
}
#theme_switch img:last-child {
  display: none;
}
.dark_mode #theme_switch img:first-child {
  display: none;
}
.dark_mode #theme_switch img:last-child {
  display: block;
}
