/*Promo Bar*/
.promo_bar {
  background-color: var(--backgroundcolor2);
  color: white;
  height: 2em;
  font-size: 15px;
}

.time_left p {
  font-weight: 700;
}
.time_left span {
  font-size: 10px;
  font-weight: 200;
  margin: 5px;
}

/*Info bar*/
.info_bar {
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid rgba(229, 231, 235, 1);
}
.info_bar,
.info_bar a {
  color: var(--fontcolor2);
}
.info_bar select {
  background-color: var(--backgroundcolor1);
  color: var(--fontcolor1);
}

/*Nav Bar*/
.logo {
  width: auto;
  height: 35px;
}

.delivery,
.account {
  font-size: 13px;
  color: var(--fontcolor1);
}
.sign_in {
  font-size: 11px;
  color: var(--fontcolor1);
}
.boldtext,
.logo_container h4 {
  color: var(--fontcolor1);
}

/*Search bar*/

.search_bar {
  width: 50%;
}
.search_bar input {
  background-color: rgba(243, 244, 246, 1);
  border-radius: 8px;
}

/*Side bar*/
.home_bar {
  border-bottom: 1px solid rgba(229, 231, 235, 1);
}

.home_navbar a {
  position: relative;
  color: var(--fontcolor1);
  font-weight: 500;
}
.home_navbar a:after {
  content: '';
  position: absolute;
  background-color: var(--backgroundcolor2);
  height: 2px;
  border-radius: 10px;
  width: 0%;
  top: 2.6em;
  right: 1px;
}
.home_navbar a:hover {
  color: var(--backgroundcolor2);
}
.home_navbar a:hover::after {
  width: 100%;
  color: var(--backgroundcolor2);
}
.home_navbar a.active {
  color: var(--backgroundcolor2);
}
.home_navbar a.active::after {
  width: 100%;
}
/* Special hover styling for 'Almost Finished' */
.home_navbar a.sale {
  color: red; /* Default color for special link */
}

.home_navbar a.sale::after {
  background-color: red; /* Underline default color for special link */
}

.home_navbar a.sale:hover::after {
  background-color: red; /* Underline hover color for special link */
  width: 100%; /* Full underline width */
}

.all_cat {
  border: 1px solid rgba(229, 231, 235, 1);
  color: var(--fontcolor1);
  border-bottom: none;
  height: 2.6em;
  width: 16em;
  border-radius: 8px 0 0;
}
.sale {
  margin-left: 13.2em;
}

.cat_list li {
  color: var(--fontcolor1);
  border: 1px solid rgba(229, 231, 235, 1);
  height: 3em;
  width: 16rem;
  font-size: 14px;
  font-weight: 500;
}
/*Hero section*/
.hero-slider img {
  border-radius: 6px;
  width: 100%;
  height: 92%;
}
.hero-slider_body {
  color: rgba(57, 36, 95, 1);
  max-width: 30%;
}
.discount {
  color: rgba(22, 101, 52, 1);
  font-weight: 500;
  font-size: 13px;
  width: 10em;
  height: 1.8em;
  padding-left: 10px;
  background: linear-gradient(to right, rgba(22, 163, 74, 0.5), rgba(34, 197, 94, 0));
  border-radius: 5px;
}
.hero-slider_body h1 {
  font-weight: 800;
}
.hero-slider_body p {
  color: var(--fontcolor1);
}

.shop_nowbtn {
  color: var(--backgroundcolor1);
  background-color: var(--backgroundcolor2);
  border: none;
  border-radius: 8px;
  width: 8em;
  height: 3em;
}
.mini_text {
  font-size: 11px;
  color: var(--text-color-1);
  font-weight: 400;
}
.new_price {
  color: red;
  font-weight: 700;
}
.old_price {
  color: var(--fontcolor4);
  font-size: 17px;
}
/* Features */

.features {
  border-bottom: 1px solid rgba(229, 231, 235, 1);
}
.features h6 {
  color: var(--fontcolor1);
}
.features span {
  color: var(--fontcolor2);
  font-weight: 400;
  font-size: 13px;
}
/*General banner sets */

.banner p {
  font-size: 14px;
}
.banner h4 {
  font-weight: 700;
}
.banner button {
  color: var(--fontcolor1);
  background-color: var(--backgroundcolor1);
  border: none;
  border-radius: 999px;
  width: 97px;
  height: 34px;
  font-size: 13px;
  font-weight: 700;
}
.banner img {
  border-radius: 10px;
}
/*Banner row*/
.banner-02 h4 {
  font-size: 19px;
}

.banner-01 img,
.banner-02 img,
.banner-03 img {
  width: 99%;
}
.banner-03 .banner-body {
  margin-top: 3em !important;
}
.banner-03 .banner-body h4 {
  font-size: 28px;
}

.banner-promo img {
  /* Ensures the image scales to the width of its container */
  max-width: 1260px;
}
/*View all*/

.arrivals p {
  font-size: 13px;
  color: var(--fontcolor2);
}
.arrivalsbtn {
  color: var(--backgroundcolor2);
  background-color: var(--backgroundcolor1);
  border: 1px solid var(--backgroundcolor2);
  border-radius: 999px;
  width: 97px;
  height: 34px;
  font-size: 13px;
  margin-left: 45em;
}
/*general Card sets*/
.productRow-03 .card-img,
.productRow-04 .card-img,
.productRow-05 .card-img,
.productRow-06 .card-img {
  margin-top: 50px;
  height: 200px;
}

.card {
  width: 13em;
  height: 335px;
  border: none;
}

.card-body {
  flex-direction: column;
}

.card-img {
  width: 100%;
  height: 177px;
}
.card-badge {
  width: 38px;
  height: 24px;
  font-size: 10px;
  position: absolute;
  top: 2em;
  left: 2em;
}
.wishlist-icon {
  left: 10em;
  top: 1em;
  background-color: white;
  padding: 5px;
  border-radius: 999px;
}

.card-title {
  font-size: 14px;
}
.card-review {
  align-items: baseline;
}
.card-price {
  display: flex;
}
.card-price1 {
  color: red;
  font-size: 20px;
  font-weight: 700;
  text-align: start;
}
.card-price2 {
  color: var(--fontcolor4);
  font-size: 14px;
}
.card-button {
  color: var(--backgroundcolor2);
  background-color: var(--backgroundcolor1);
  border: 1px solid var(--backgroundcolor2);
  border-radius: 999px;
  width: 190px;
  height: 34px;
  font-size: 13px;
}
.card-button:hover {
  background-color: #644c9f0e;
}

.plus {
  font-size: 18px;
}
/*Product row 01 */
.productRow-01 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Dynamic columns */
}
/*Product row 02 */
.productRow-02 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.productRow-02 .card-body {
  position: absolute;
  flex-direction: column;
  left: 13em;
}

.productRow-02 .card-body p {
  margin-bottom: 1em;
}
.productRow-02 .card-price {
  margin-bottom: 1em;
  margin-right: 5em;
}
/*Product row 03 */
.productRow-03,
.productRow-04,
.productRow-05,
.productRow-06 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 4 equal columns */
}
/*Footer*/
footer {
  background-color: var(--footer);
}
.newsletter {
  border-bottom: 1px solid rgba(229, 231, 235, 1);
}
.newsletter p {
  font-size: 11px;
}

footer ul li,
footer p {
  font-size: 13px;
  color: var(--fontcolor3);
  margin-bottom: 6px;
}
footer span {
  color: var(--fontcolor4);
  font-size: 16px;
  font-weight: 600;
}
.newsletter-input {
  flex-wrap: wrap;
}
.newsletter-input input {
  width: 330px !important;
  background-color: white;
}
.newsletter-input button {
  color: var(--backgroundcolor1);
  background-color: var(--backgroundcolor2);
  border-radius: 0px 8px 8px 0px !important;
}
.footer-list {
  border-bottom: 1px solid rgba(229, 231, 235, 1);
}
@media screen and (max-width: 1399px) and (min-width: 992px) {
  .container {
    max-width: 100%;
  }
  .promo_bar,
  .time_left {
    font-size: 12px;
  }
  .time_left span {
    margin: 0px 5px;
  }
  .sign_in p {
    display: none;
  }

  .sign_in {
    margin-bottom: 17px;
  }
  .home_navbar {
    flex-direction: row;
  }
  .home_navbar a {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 14px;
  }
  .home_navbar a:after {
    top: 2.3em;
  }

  .hero-slider_body {
    max-width: 55%;
    padding: 2em !important;
  }
}
@media screen and (max-width: 991px) and (min-width: 743px) {
  .container {
    max-width: 100%;
  }
  .delivery p,
  .sign_in p,
  .cat_list,
  .all_cat svg {
    display: none !important;
  }
  .promo_bar {
    height: auto;
    flex-wrap: wrap;
    font-size: 10px;
  }
  .info_bar,
  .nav-container {
    margin-bottom: 1em !important;
  }

  .delivery svg,
  .sign_in svg {
    margin: 0 !important;
  }
  .home_bar {
    flex-wrap: nowrap;
  }
  .all_cat {
    width: 12%;
    border: none;
    margin: 0 !important;
    font-size: 14px;
  }
  .all_cat p {
    margin: 0 !important;
  }
  .home_navbar {
    flex-direction: row;
    gap: 2.5em !important;
    margin: 0 !important;
  }
  .home_navbar a {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 14px;
  }
  .hero-slider_body {
    max-width: 55%;
    padding: 2em !important;
  }
  .productRow-01,
  .productRow-02 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1px, 1fr));
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    width: 100%;
  }
}

@media screen and (max-width: 742px) and (min-width: 360px) {
  .container {
    max-width: 100% !important;
  }
  .info_bar,
  .home_bar,
  .sign_in p,
  .delivery p,
  .banner-promo {
    display: none !important;
  }
  .delivery,
  .sign_in,
  .wishlist,
  .cart,
  .search_bar {
    position: absolute;
  }
  .promo_bar {
    height: auto;
    flex-wrap: wrap;
    font-size: 11px;
  }
  .promo_bar p {
    margin: 0;
  }
  .time {
    align-items: center;
  }
  /*Menu*/
  .menu-btn {
    display: flex !important;
    cursor: pointer;
  }
  .cat_menu {
    display: none;
    position: absolute;
    top: 9.5em;
    background-color: white;
    z-index: 1;
    width: 50%;
  }

  .cat_menu.active {
    display: block;
  }
  .cat_list li {
    display: block;
    background-color: white;
    width: 94.5vw !important;
  }
  .delivery {
    right: 9em;
    bottom: 0.2em;
  }

  .sign_in {
    right: 6.8em;
    bottom: 0em;
  }
  .wishlist {
    right: 2.8em;
    bottom: 40m;
  }
  .cart {
    right: 0.5em;
    bottom: 0.3em;
  }
  .search_bar {
    top: 3em;
    margin: 0 !important;
    width: 100% !important;
  }

  /* Hero */
  .hero-slider {
    margin-bottom: 1em;
  }
  .hero-slider img {
    display: flex;
    margin: 3.5em 0 0em 0em !important;
    object-fit: cover;
    max-width: 690px !important;
    height: 330px;
  }
  .hero-slider_body {
    max-width: 75%;
    margin: 2em 0 0 0 !important;
    padding: 2em !important;
  }
  .hero-slider_body h1 {
    font-size: 20px;
  }
  .hero-slider_body h4,
  .hero-slider_body span,
  .hero-slider_body p {
    font-size: 13px;
  }

  .hero-slider_body button {
    font-size: 10px;
  }
  .mini_text {
    font-size: 9px !important;
  }

  .features {
    flex-wrap: wrap;
  }
  /*View all*/
  .arrivals {
    margin: 0 !important;
    justify-content: space-evenly;
  }
  .arrivals div p {
    font-size: 9px;
  }

  .arrivals div {
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 !important;
  }

  .arrivalsbtn {
    margin: 0 !important;
    font-size: 9px;
    width: 18%;
  }
  /*Products row*/
  .productRow-03,
  .productRow-04,
  .productRow-05,
  .productRow-06 {
    margin-bottom: 4.5em;
  }
  .plus {
    margin: 10px !important;
  }
  /*Product row*/

  .productRow-02,
  .productRow-02 .card-body {
    position: static;
    margin-bottom: 2em;
  }
  .productRow-02 {
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  }
  .productRow-06 {
    margin: 1em !important;
  }

  .card {
    width: 160px;
    height: 302px;
    margin-left: 0.5em;
  }

  .card p {
    width: 90%;
    font-size: 12px;
  }

  .card .card-img {
    width: 119px;
    height: 117px;
  }

  .card .wishlist-icon {
    left: 7em;
    top: 0.5em;
  }

  .card-button,
  .plus {
    width: 128px;
    font-size: 12px;
  }

  /*Product 3*/
  .productRow-03,
  .productRow-04,
  .productRow-05 {
    margin: 1em !important;
  }

  /*Banner 02*/
  .banner-02 img {
    max-width: 695px;
    height: 320px;
    object-fit: cover;
  }
  /*Banner 03*/
  .banner-03 img {
    object-fit: cover;
    margin-bottom: 1em !important;
  }
  .banner-03 .banner-body {
    margin: 1em !important;
  }
  .banner-03 .banner-body p {
    font-size: 11px;
  }
  .banner-03 .banner-body > h4 {
    font-size: 15px;
  }
  .banner-03 .banner-body button {
    font-size: 11px;
  }
  /*Banner row*/
  .banner-row {
    flex-direction: column;
  }
  .banner-01 .banner-body p {
    margin: 0 !important;
  }
  .banner-01 .banner-body h4 {
    font-size: 16px;
  }
  .banner-01 .banner-body button {
    font-size: 10px;
    width: 80px;
  }

  .banner-04 img,
  .banner-05 img {
    width: 100%;
    height: 320px;
    object-fit: cover;
  }
  /*Footer*/
  .newsletter {
    flex-direction: column;
  }
  .newsletter-offs {
    width: 100%;
  }
  .newsletter-input {
    flex-wrap: nowrap;
    width: 100%;
  }
  .footer-list ul {
    display: flex;
    flex-wrap: wrap !important;
    white-space: nowrap;
  }
}
