/*Promo Bar*/
.promo_bar {
  background-color: var(--backgroundcolor2);
  color: white;
  min-height: 2em;
  font-size: 0.9375rem; /* 15px */
}
.promo_bar p {
  margin-bottom: 0;
}

.time_left p {
  font-weight: 700;
}
.time_left span {
  font-size: 0.625rem; /* 10px */
  font-weight: 200;
  margin: 5px;
}

/* Info Bar Styles */
.info_bar {
  font-size: 0.875rem; /* 14px */
  font-weight: 500;
  border-bottom: 1px solid rgba(229, 231, 235, 1);
}
.info_bar,
.info_bar a,
.info_bar select {
  color: var(--fontcolor2);
}
.info_bar a:hover {
  color: var(--fontcolor1);
}
.info_bar select {
  background-color: var(--backgroundcolor1);
  cursor: pointer;
}

/* Navigation Bar */
.logo {
  width: auto;
  height: 35px;
  cursor: pointer;
}

.delivery,
.account {
  font-size: 0.8125rem;
  color: var(--fontcolor1);
}
.sign_in {
  font-size: 0.75rem;
  color: var(--fontcolor1);
}
.boldtext,
.logo_container h4 {
  color: var(--fontcolor1);
  cursor: pointer;
}

/*Search bar*/
.search_bar {
  width: 50%;
}

.search_bar input {
  background-color: rgba(243, 244, 246, 1);
  border-radius: 8px !important;
  border: 1px solid rgba(229, 231, 235, 1);
}

.search_bar button {
  background: none;
  border: none;
  right: 1%;
  top: 15%;
  z-index: 10;
}

/*Side bar*/
.home_bar {
  border-bottom: 1px solid rgba(229, 231, 235, 1);
}
.home_navbar a {
  position: relative;
  color: var(--fontcolor1);
  font-weight: 500;
}
.home_navbar a:after {
  content: '';
  position: absolute;
  background-color: var(--backgroundcolor2);
  height: 2px;
  border-radius: 10px;
  width: 0%;
  top: 2.6em;
  right: 1px;
}
.home_navbar a:hover {
  color: var(--backgroundcolor2);
}
.home_navbar a:hover::after {
  width: 100%;
  color: var(--fontcolor1);
}
.home_navbar a.active {
  color: var(--fontcolor1);
}
.home_navbar a.active::after {
  width: 100%;
}
/* Special hover styling for 'Almost Finished' */
.home_navbar a.sale {
  color: red; /* Default color for special link */
}

.home_navbar a.sale::after {
  background-color: red; /* Underline default color for special link */
}

.home_navbar a.sale:hover::after {
  background-color: red; /* Underline hover color for special link */
  width: 100%; /* Full underline width */
}

.all_cat {
  border: 1px solid rgba(229, 231, 235, 1);
  color: var(--fontcolor1);
  border-bottom: none;
  height: 2.6em;
  width: 16em;
  border-radius: 8px 8px 0px 0px;
  cursor: pointer;
}
.sale {
  margin-left: 13.2em;
}

.cat_list li {
  color: var(--fontcolor1);
  border: 1px solid rgba(229, 231, 235, 1);
  height: 3em;
  width: 16rem;
  font-size: 0.875rem; /* 14px */
  font-weight: 500;
  cursor: pointer;
}
.cat_list li:hover {
  background-color: rgba(243, 244, 246, 1);
}
/*Hero section*/
.carousel-item img {
  border-radius: 8px;
  object-fit: cover;
  max-height: 447px;
  width: 1016px !important;
}
.hero-slider_body {
  flex-direction: column;
  color: rgba(57, 36, 95, 1);
  max-width: 45%;
}
.hero-slider_body .discount {
  color: rgba(22, 101, 52, 1);
  font-weight: 500;
  font-size: 0.8125rem; /* 13px */
  width: 10em;
  height: 1.5em;
  padding-left: 8px;
  background: linear-gradient(to right, rgba(22, 163, 74, 0.5), rgba(34, 197, 94, 0));
  border-radius: 5px;
}

.hero-slider_body h1 {
  font-weight: 800;
}
.hero-slider_body p {
  color: var(--fontcolor3);
}

.shop_nowbtn {
  color: white;
  background-color: var(--backgroundcolor2);
  border: none;
  border-radius: 8px;
  width: 8em;
  height: 3em;
}
.mini_text {
  font-size: 0.6875rem; /* 11px */
  color: var(--text-color-1);
  font-weight: 400;
}
.new_price {
  color: red;
  font-weight: 700;
}
.old_price {
  color: var(--fontcolor4);
  font-size: 1.0625rem; /* 17px */
}
/* Features */

.features {
  border-bottom: 1px solid rgba(229, 231, 235, 1);
}
.feature-item img {
  width: 15%;
}
.features h6 {
  color: var(--fontcolor1);
}
.features p {
  color: var(--fontcolor2);
  font-weight: 300;
  font-size: 0.8125rem; /* 13px */
  white-space: nowrap;
}
/*General banner sets */
.banner img {
  object-fit: cover;
  border-radius: 10px;
}
.banner-04 img,
.banner-05 img {
  border-radius: 0px;
  width: 368px;
}
.banner p {
  font-size: 0.875rem; /* 14px */
}
.banner h4 {
  font-weight: 700;
}
.banner button {
  color: var(--fontcolor1);
  background-color: var(--backgroundcolor1);
  border: none;
  border-radius: 999px;
  width: 97px;
  height: 34px;
  font-size: 0.8125rem; /* 13px */
  font-weight: 700;
}
/*Banner row*/
.banner-01 img {
  width: 99%;
}
.banner-02 img,
.banner-03 img {
  width: 100%;
}
.banner-01 .banner-body,
.banner-02 .banner-body,
.banner-04 .banner-body,
.banner-05 .banner-body {
  width: 15%;
}

.banner-03 .banner-body {
  width: 20%;
}
.banner-02 h4 {
  font-size: 19px;
}

.banner-03 .banner-body {
  margin-top: 3em !important;
}
.banner-03 .banner-body h4 {
  font-size: 1.75rem; /* 28px */
}

.banner-promo img {
  /* Ensures the image scales to the width of its container */
  max-width: 1290px;
}

/*View all*/
.arrivals {
  justify-content: space-between;
  white-space: nowrap;
}
.arrivals h6 {
  color: var(--fontcolor1);
}
.arrivals p {
  font-size: 0.8125rem; /* 13px */
  color: var(--fontcolor2);
}
.arrivalsbtn {
  color: var(--backgroundcolor2);
  background-color: var(--backgroundcolor1);
  border: 1px solid var(--backgroundcolor2);
  border-radius: 999px;
  width: 97px;
  height: 34px;
  font-size: 0.8125rem; /* 13px */
}
/*general Card sets*/
.product-card {
  position: relative;
  background-color: white;
  padding: 1em;
}
.card-body {
  flex-direction: column;
}
.card-img {
  height: 177px;
  object-fit: contain;
}
.card-title {
  font-size: 0.875rem; /* 14px */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-review {
  align-items: baseline;
}
.card-price {
  display: flex;
}
.card-price1 {
  color: red;
  font-size: 1.25rem; /* 20px */
  font-weight: 700;
  text-align: start;
}
.card-price2 {
  color: var(--fontcolor4);
  font-size: 14px;
}
.card-button {
  color: var(--backgroundcolor2);
  background-color: var(--btn);
  border: 1px solid var(--backgroundcolor2);
  border-radius: 999px;
  width: 190px;
  height: 34px;
  font-size: 13px;
}
.card-button:hover {
  background-color: #644c9f0e;
}
.wishlist-icon {
  position: absolute;
  background-color: white;
  border-radius: 51% 49% 52% 46% / 48% 48% 52% 52%;
}
.card-badge {
  width: 42px;
  height: 20px;
}
.plus {
  font-size: 18px;
}
/*Product row 01 */
.productRow-01 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Dynamic columns */
}
.productRow-01 .wishlist-icon {
  left: 10em;
}
/*Product row 02 */
.productRow-02 {
  background-color: var(--backgroundcolor1);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.productRow-02 .product-card {
  display: grid;
  grid-template-columns: 40% 60%; /* Image takes 40%, text 60% */

  margin-bottom: 1em;
}
.productRow-02 .wishlist-icon {
  left: 8.9em;
  top: 0.5em;
}
.productRow-02 .card-badge {
  position: absolute;
  top: 1em;
}
/*Product row */
.productRow-03,
.productRow-04,
.productRow-05,
.productRow-06 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 4 equal columns */
}
.productRow-03 .product-card,
.productRow-04 .product-card,
.productRow-05 .product-card,
.productRow-06 .product-card {
  width: 230px;
  height: 100%;
}
.productRow-03 .card-img,
.productRow-04 .card-img,
.productRow-05 .card-img,
.productRow-06 .card-img {
  width: 230px;
  height: 199px;
}
.productRow-03 .card-badge,
.productRow-04 .card-badge,
.productRow-05 .card-badge,
.productRow-06 .card-badge {
  position: absolute;
}
.productRow-03 .wishlist-icon,
.productRow-04 .wishlist-icon,
.productRow-05 .wishlist-icon,
.productRow-06 .wishlist-icon {
  left: 9.5em;
}

/*Footer*/
footer {
  background-color: var(--footer);
}
.newsletter {
  border-bottom: 1px solid rgba(229, 231, 235, 1);
}
.newsletter p {
  font-size: 11px;
}

footer ul li,
footer p {
  font-size: 13px;
  color: var(--fontcolor3);
  margin-bottom: 6px;
}
footer span {
  color: var(--fontcolor4);
  font-size: 16px;
  font-weight: 600;
}
.newsletter-input {
  flex-wrap: wrap;
}
.newsletter-input input {
  width: 330px !important;
  background-color: white;
}
.newsletter-input button {
  color: var(--backgroundcolor1);
  background-color: var(--backgroundcolor2);
  border-radius: 0px 8px 8px 0px !important;
}
.footer-list {
  border-bottom: 1px solid rgba(229, 231, 235, 1);
}
@media screen and (max-width: 1399px) and (min-width: 1050px) {
  .container {
    max-width: 100%;
  }
  .promo_bar,
  .time_left {
    font-size: 12px;
  }
  .time_left span {
    margin: 0px 5px;
  }
  .sign_in p,
  .banner-promo {
    display: none;
  }

  .home_navbar {
    flex-direction: row;
  }
  .home_navbar a {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 14px;
  }
  .home_navbar a:after {
    top: 2.3em;
  }
  /* Hero */

  .hero-slider_body {
    max-width: 60%;
    padding: 2em !important;
  }
  .feature-item {
    margin: 0 !important;
  }
  .features p {
    white-space: wrap;
    width: 90%;
  }
  /*View all*/
  .arrivals {
    margin: 1em !important;
    justify-content: space-between;
  }
  .arrivals div p {
    font-size: 12px;
  }

  .arrivalsbtn {
    margin: 0 !important;
    font-size: 14px;
  }

  /*Banner row*/
  .banner-01 img {
    height: 220px;
    margin-bottom: 10px;
  }
  .banner-01 .banner-body {
    width: 20%;
  }
  .banner-01 .banner-body h4 {
    font-size: 21px;
  }
  .banner-02 .banner-body h4 {
    font-size: 13px;
  }
  .banner-02 .banner-body p {
    font-size: 12px;
  }
  .banner-03 img {
    height: 220px;
    margin-bottom: 1em;
  }
  .banner-03 .banner-body {
    margin: 1em !important;
  }
  .banner-03 .banner-body h4 {
    font-size: 20px;
  }
  .banner-04 img,
  .banner-05 img {
    width: 102%;
    height: 320px;
  }
  .banner-04 .banner-body,
  .banner-05 .banner-body {
    width: 100%;
    margin: 1em !important;
  }
  .productRow-01 .card-badge {
    display: none;
  }
  .productRow-01 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .productRow-03,
  .productRow-04,
  .productRow-05,
  .productRow-06 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .productRow-01 .product-card,
  .productRow-03 .product-card,
  .productRow-04 .product-card,
  .productRow-05 .product-card,
  .productRow-06 .product-card {
    display: grid !important;
    grid-template-columns: 40% 60% !important; /* Image takes 40%, text 60% */
    width: 350px;
    height: auto;
  }
  .productRow-01 .card-img,
  .productRow-03 .card-img,
  .productRow-04 .card-img,
  .productRow-05 .card-img,
  .productRow-06 .card-img {
    width: 150px;
    height: 177px;
  }

  .productRow-03 .card-body,
  .productRow-04 .card-body,
  .productRow-05 .card-body,
  .productRow-06 .card-body {
    margin-left: 2em !important;
    gap: 0.5em;
  }
  .productRow-01 .wishlist-icon,
  .productRow-03 .wishlist-icon,
  .productRow-04 .wishlist-icon,
  .productRow-05 .wishlist-icon,
  .productRow-06 .wishlist-icon {
    left: 7em;
  }
  .productRow-01 .plus,
  .productRow-03 .plus,
  .productRow-04 .plus,
  .productRow-05 .plus,
  .productRow-06 .plus {
    margin: 0 !important;
  }
  .banner-row {
    flex-direction: column;
  }
}
@media screen and (max-width: 1049px) and (min-width: 743px) {
  .container {
    max-width: 100%;
  }
  .delivery p,
  .sign_in p,
  .cat_list,
  .all_cat svg,
  .banner-promo {
    display: none !important;
  }
  .promo_bar {
    height: auto;
    flex-wrap: wrap;
    font-size: 12px;
  }
  .promo_bar p {
    margin: 0 !important;
  }
  .time span {
    margin: 0 5px 0 5px;
  }
  .info_bar,
  .nav-container {
    margin-bottom: 1em !important;
  }

  .delivery svg,
  .sign_in svg {
    margin: 0 !important;
  }
  .home_bar {
    flex-wrap: nowrap;
  }
  .all_cat {
    border: none;
    margin: 0 !important;
    font-size: 14px;
  }
  .all_cat p {
    margin: 0 !important;
  }
  .home_navbar {
    flex-direction: row;
    white-space: nowrap;
    gap: 2em !important;
    margin: 0 0 0 auto !important;

    justify-content: end;
  }
  .home_navbar a {
    padding: 0 !important;
    margin: 0 !important;

    font-size: 14px;
  }
  .home_navbar a:after {
    top: 2em;
  }
  /*Hero slider*/
  .carousel {
    margin: 0 !important;
  }
  .carousel-item img {
    max-width: 100% !important;
    margin: 1em 0 1.5em 0 !important;
  }

  .hero-slider_body {
    max-width: 55%;
    padding: 0em !important;
  }
  .hero-slider_body p {
    font-size: 13px;
  }
  .hero-slider button {
    font-size: 13px;
  }
  .features {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
  }

  /*View all*/
  .arrivalsbtn {
    font-size: 10px;
    width: 10%;
  }
  /*banner row*/
  .banner-01 img,
  .banner-03 img {
    height: 220px;
    margin-bottom: 1em;
  }
  .banner-01 .banner-body {
    width: 29%;
  }
  .banner-02 .banner-body {
    flex-direction: column;
    width: 20%;
  }
  .banner-02 .banner-body p {
    flex-wrap: wrap;
    font-size: 11px;
  }
  .banner-01 .banner-body > h4,
  .banner-02 .banner-body > h4,
  .banner-03 .banner-body > h4 {
    font-size: 22px !important;
  }
  .banner-02 img {
    height: 340px;
    margin-bottom: 1em;
  }
  .banner-01 div,
  .banner-02 div {
    padding: 0.3em !important;
    gap: 3em !important;
  }
  .banner-03 .banner-body {
    margin: 1em !important;
    width: 33%;
  }
  .banner-row {
    flex-direction: column;
  }
  .banner-04 img,
  .banner-05 img {
    width: 103%;
    height: 320px;
  }
  .banner-04 .banner-body,
  .banner-05 .banner-body {
    width: 100%;
    margin: 1em !important;
  }

  /*Product*/
  .productRow-01 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;
  }
  .productRow-02 .wishlist-icon {
    left: 6.8em;
  }

  .productRow-03 .product-card,
  .productRow-04 .product-card,
  .productRow-05 .product-card,
  .productRow-06 .product-card {
    display: grid;
    grid-template-columns: 40% 60%; /* Image takes 40%, text 60% */
    width: 350px;
    height: auto;
  }
  .productRow-03 .card-img,
  .productRow-04 .card-img,
  .productRow-05 .card-img,
  .productRow-06 .card-img {
    width: 140px;
    height: 177px;
  }
  .productRow-03 .card-body,
  .productRow-04 .card-body,
  .productRow-05 .card-body,
  .productRow-06 .card-body {
    margin-left: 2em !important;
    gap: 0.5em;
  }
  .productRow-03 .wishlist-icon,
  .productRow-04 .wishlist-icon,
  .productRow-05 .wishlist-icon,
  .productRow-06 .wishlist-icon {
    left: 7em;
  }
  .productRow-03 .plus,
  .productRow-04 .plus,
  .productRow-05 .plus,
  .productRow-06 .plus {
    margin: 0 !important;
  }
  .productRow-04,
  .productRow-05,
  .productRow-06 {
    margin-top: 2em !important;
  }
  /*Footer*/
  .newsletter {
    width: 100%;
  }
  .newsletter-offs {
    width: 40%;
  }
  .newsletter-input {
    flex-wrap: nowrap;
    width: 100%;
  }
  .footer-list ul {
    display: flex;
    flex-wrap: wrap !important;
    white-space: nowrap;
    flex-direction: column;
  }
}

@media screen and (max-width: 742px) and (min-width: 360px) {
  .container {
    max-width: 100% !important;
  }
  .info_bar,
  .home_bar,
  .sign_in p,
  .delivery p,
  .banner-promo {
    display: none !important;
  }
  .nav-container {
    position: relative;
  }
  .delivery,
  .sign_in,
  .wishlist,
  .cart {
    position: absolute;
  }
  .search_bar {
    position: fixed;
  }
  .promo_bar {
    flex-wrap: wrap;
    font-size: 11px;
  }

  .time {
    align-items: center;
  }
  /*Menu*/
  .menu-btn {
    display: flex !important;
    cursor: pointer;
  }
  .cat_menu {
    display: none;
    position: absolute;
    top: 9.5em;
    background-color: white;
    z-index: 1;
  }

  .cat_menu.active {
    display: block;
  }
  .cat_list li {
    display: block;
    background-color: white;
    width: 94.5vw !important;
  }
  .delivery {
    right: 9.5em;
    top: 0.5em;
  }
  .sign_in {
    right: 6.5em;
    top: 0.1em;
  }
  .wishlist {
    right: 3em;
    top: 0.6em;
  }
  .cart {
    right: 0.8em;
    top: 0.5em;
  }
  .search_bar {
    top: 0.5em;
    margin: 0 !important;
    width: 100% !important;
  }

  /* Hero */
  .carousel {
    margin: 0 !important;
  }
  .carousel-item img {
    max-width: 100% !important;
    height: 330px;
    margin: 1em 0 1.5em 0 !important;
  }
  .hero-slider_body {
    max-width: 75%;
    margin: 0 !important;
  }
  .discount {
    font-size: 10px;
    margin: 0 !important;
  }
  .hero-slider_body h1 {
    font-size: 20px;
  }
  .hero-slider_body h4,
  .hero-slider_body span,
  .hero-slider_body p {
    font-size: 13px;
  }

  .hero-slider_body button {
    font-size: 10px;
  }
  .mini_text {
    font-size: 9px !important;
  }

  .features {
    flex-wrap: wrap;
  }
  /*Banner 01*/
  .banner-01 img {
    height: 200px;
    margin-bottom: 1em;
  }
  .banner-01 .banner-body button {
    font-size: 10px;
    width: 80px;
  }
  /*View all*/
  .arrivals div {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .arrivalsbtn {
    font-size: 10px;
    width: 20%;
  }

  /*Banner 02*/
  .banner-01 .banner-body,
  .banner-02 .banner-body,
  .banner-03 .banner-body,
  .banner-04 .banner-body,
  .banner-05 .banner-body {
    width: 80%;
  }
  .banner-02 img {
    max-width: 695px;
    height: 320px;
    margin-bottom: 1em;
  }

  /*Banner 03*/
  .banner-03 img {
    margin-bottom: 1em !important;
    height: 200px;
  }
  .banner-03 .banner-body {
    margin: 1em !important;
  }
  .banner-03 .banner-body > h4 {
    font-size: 15px;
  }
  .banner-03 .banner-body button {
    font-size: 10px;
  }
  .banner-04 img,
  .banner-05 img {
    width: 100%;
    height: 320px;
  }

  /*Product-01 to Product-04- expect product -02*/
  .productRow-01 .card-badge {
    position: absolute;
  }
  .productRow-02 .card-body {
    margin-left: 1em !important;
  }
  .productRow-02 .wishlist-icon {
    left: 6.8em;
  }
  .productRow-01,
  .productRow-03,
  .productRow-04,
  .productRow-05,
  .productRow-06 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .productRow-01 .product-card,
  .productRow-03 .product-card,
  .productRow-04 .product-card,
  .productRow-05 .product-card,
  .productRow-06 .product-card {
    display: grid;
    grid-template-columns: 40% 60%; /* Image takes 40%, text 60% */
    width: 350px;
    height: auto;
  }
  .productRow-01 .card-img,
  .productRow-03 .card-img,
  .productRow-04 .card-img,
  .productRow-05 .card-img,
  .productRow-06 .card-img {
    width: 140px;
    height: 177px;
  }
  .productRow-01 .card-body,
  .productRow-03 .card-body,
  .productRow-04 .card-body,
  .productRow-05 .card-body,
  .productRow-06 .card-body {
    margin-left: 1em !important;
    gap: 0.5em;
  }

  .productRow-01 .wishlist-icon,
  .productRow-03 .wishlist-icon,
  .productRow-04 .wishlist-icon,
  .productRow-05 .wishlist-icon,
  .productRow-06 .wishlist-icon {
    left: 7em;
  }
  .productRow-01 .plus,
  .productRow-03 .plus,
  .productRow-04 .plus,
  .productRow-05 .plus,
  .productRow-06 .plus {
    margin: 0 !important;
  }
  .productRow-01 .card-button,
  .productRow-02 .card-button,
  .productRow-03 .card-button,
  .productRow-04 .card-button,
  .productRow-05 .card-button,
  .productRow-06 .card-button {
    width: 87%;
  }

  .productRow-04,
  .productRow-05,
  .productRow-06 {
    margin-top: 2em !important;
  }

  /*Banner row*/
  .banner-row {
    flex-direction: column;
  }
  /*Footer*/
  .newsletter {
    width: 100%;
    white-space: nowrap;
  }

  .newsletter-input {
    flex-wrap: nowrap;
    width: 100%;
  }
  .subscribe {
    white-space: wrap;
  }
  .footer-list ul {
    display: flex;
    flex-wrap: wrap !important;
    white-space: nowrap;
    flex-direction: column;
  }
}
